<ng-container *ngIf="field">
    <span>Speicher: {{field.crops}} / {{field.storageCapacity}}</span>
    <span *ngIf="field.crop">pflanzt: {{field.crop.cropKey}}</span>
    <span *ngIf="field.currentFarmland">Arbeitet auf: ({{field.currentFarmland.x}} | {{field.currentFarmland.y}})</span>
    <form [formGroup]="cropForm">
        <select formControlName="cropType">
            <ng-container *ngFor="let cropType of cropTypes">
                <option *ngIf="unlockedCrops.includes(cropType)" [value]="cropType">{{cropType}}</option>
            </ng-container>
        </select>
        <th-button (buttonClick)="selectCropType()">Auswählen</th-button>
    </form>
    <th-button (buttonClick)="collectCropType()" [active]="field.crops > 0">Sammeln</th-button>
</ng-container>
