
<div class="header">
    <th-button [buttonType]="placeMode ? 'fail' : 'normal'" (buttonClick)="togglePlaceMode()">{{placeMode ? 'beenden' : 'Baumodus'}}</th-button>
    <th-button [buttonType]="cheatMode ? 'fail' : 'normal'" (buttonClick)="toggleCheatMode()">{{cheatMode ? 'beenden' : 'Cheatmodus'}}</th-button>
    <ng-container *ngFor="let crop of siloCount.keys();">
        <th-crop-icon [crop]="crop"></th-crop-icon>
        <th-progress *ngIf="siloCount.get(crop)" [values]="siloCount.get(crop)"></th-progress>
    </ng-container>
    <div class="unlocked">
        <span>Freigeschaltete Früchte:</span>
        <th-crop-icon *ngFor="let crop of unlockedCrops" [crop]="crop"></th-crop-icon>
    </div>
</div>

<div class="footer">
    <div class="place-mode" *ngIf="placeMode">


        <th-buy-button [wide]="true" [price]="buildingPrices.get(FieldType.WATER_CHANNEL)" [buttonType]="placing?.fieldType === FieldType.WATER_CHANNEL ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.WATER_CHANNEL)">{{placing?.fieldType === FieldType.WATER_CHANNEL ? 'abbrechen' : 'Graben setzen'}}</th-buy-button>

        <th-buy-button [wide]="true" [price]="buildingPrices.get(FieldType.FARMER)" [buttonType]="placing?.fieldType === FieldType.FARMER ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.FARMER)">{{placing?.fieldType === FieldType.FARMER ? 'abbrechen' : 'Farmer setzen'}}</th-buy-button>

        <th-buy-button [wide]="true" [price]="buildingPrices.get(FieldType.SILO)" [buttonType]="placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.WHEAT ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.SILO, CropKey.WHEAT)">{{placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.WHEAT ? 'abbrechen' : 'Weizensilo'}}</th-buy-button>
        <th-buy-button [wide]="true" [price]="buildingPrices.get(FieldType.SILO)" [buttonType]="placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.MELON ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.SILO, CropKey.MELON)">{{placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.MELON ? 'abbrechen' : 'Melonensilo'}}</th-buy-button>
        <th-buy-button [wide]="true" [price]="buildingPrices.get(FieldType.SILO)" [buttonType]="placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.CORN ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.SILO, CropKey.CORN)">{{placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.CORN ? 'abbrechen' : 'Maissilo'}}</th-buy-button>



        <!--th-button [buttonType]="placing?.fieldType === FieldType.FARMLAND ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.FARMLAND)">{{placing?.fieldType === FieldType.FARMLAND ? 'abbrechen' : 'Acker setzen'}}</th-button>
        <th-button [buttonType]="placing?.fieldType === FieldType.ROCK ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.ROCK)">{{placing?.fieldType === FieldType.ROCK ? 'abbrechen' : 'Stein setzen'}}</th-button-->

    </div>

    <div class="place-mode" *ngIf="cheatMode">


        <th-button [buttonType]="placing?.fieldType === FieldType.WATER_CHANNEL ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.WATER_CHANNEL)">{{placing?.fieldType === FieldType.WATER_CHANNEL ? 'abbrechen' : 'Graben setzen'}}</th-button>

        <th-button [buttonType]="placing?.fieldType === FieldType.FARMER ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.FARMER)">{{placing?.fieldType === FieldType.FARMER ? 'abbrechen' : 'Farmer setzen'}}</th-button>

        <th-button [buttonType]="placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.WHEAT ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.SILO, CropKey.WHEAT)">{{placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.WHEAT ? 'abbrechen' : 'Weizensilo'}}</th-button>
        <th-button [buttonType]="placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.MELON ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.SILO, CropKey.MELON)">{{placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.MELON ? 'abbrechen' : 'Melonensilo'}}</th-button>
        <th-button [buttonType]="placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.CORN ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.SILO, CropKey.CORN)">{{placing?.fieldType === FieldType.SILO && placing?.crop === CropKey.CORN ? 'abbrechen' : 'Maissilo'}}</th-button>



        <!--th-button [buttonType]="placing?.fieldType === FieldType.FARMLAND ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.FARMLAND)">{{placing?.fieldType === FieldType.FARMLAND ? 'abbrechen' : 'Acker setzen'}}</th-button>
        <th-button [buttonType]="placing?.fieldType === FieldType.ROCK ? 'fail' : 'normal'" (buttonClick)="setPlacing(FieldType.ROCK)">{{placing?.fieldType === FieldType.ROCK ? 'abbrechen' : 'Stein setzen'}}</th-button-->

    </div>
</div>

<th-grid
    *ngIf="matrix"
    [matrix]="matrix"
    [placing]="placing"
    (fieldClick)="onFieldClick($event)"
></th-grid>
