
.btn-place-active {
    background-color: #3795cb;
}

th-grid {
    width: 100%;
    display: block;
    margin: 0
}

.header,
.footer {
    position: fixed;
    z-index: 11;
    width: 100%;
    background-color: #eac168;
    color: black;
}

.header {
    top: 0;
    border-bottom: 2px solid black;
}

.footer {
    bottom: 0;
    border-top: 2px solid black;
}

