.btn {
  background-image: url("../../../../../assets/ui/btn.png");
  background-size: 100%;
  background-color: transparent;
  width: 120px;
  border: 0;
  margin: 4px;
  cursor: pointer;
  overflow: hidden;
  color: white;
  height: 29px;
  font-size: 10px;
  padding: 0;

  &.btn-wide {
    width: 240px;
    background-image: url("../../../../../assets/ui/btn_wide.png");
  }

  &.btn-inactive {
    filter: grayscale(1);
    pointer-events: none;
  }

  &:hover {
    filter: brightness(1.3);
  }

  &.btn-fail {
    filter: hue-rotate(152deg);
    //background-image: url("/assets/ui/fail_btn.png");
  }

}

.price,
.prices,
.btn-title {
  display: inline-block;
  vertical-align: middle;
}

.btn-title {
  margin-left: 6px;
}


th-crop-icon {
  scale: 0.7;
}

th-crop-icon,
.amount {
  vertical-align: middle;
  display: inline-block;
}
