:host {
    color: black;
}

.field-icon {
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center;
}


th-crop-icon {
    position: absolute;
    margin-top: -4px;
    margin-left: -4px;

    &.full-icon {
        background: none;
        margin-top: 18px;
        border: none;
        margin-left: 16px;
        cursor: pointer;
        scale: 2;
    }
}


