/* You can add global styles to this file, and also import other style files */

body {
  font-family: Helvetica, Arial, serif;
  background-size: 100%;
  background: linear-gradient(to left top, #2c0033 0%, #000000 100%) no-repeat fixed;
  color: #d3d3d3;
  margin: 0;
}


.close-btn {
  background-image: url("assets/ui/close_btn.png");
  background-size: 100%;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    filter: brightness(1.3);
  }
}
