/* You can add global styles to this file, and also import other style files */

body {
  font-family: Helvetica, Arial, serif;
  background-size: 100%;
  background: linear-gradient(to left top, #2c0033 0%, #000000 100%) no-repeat fixed;
  color: #d3d3d3;
}
