header {
    text-align: center;
}

.game {
    width: 3200px;
    height: 600px;
    //border: 1px solid #47b928;
    display: block;
    box-shadow: 0 0 40px 15px black;
    //background-color: #faf7f2;
    color: black;
    margin: auto;
    background-color: #eac168;
}
