.farmland {
    text-align: center;
    padding: 4px;
    font-size: 4px;

    &:hover .coords {
        opacity: 1;
    }
}
.coords {
    color: #aaa;
    font-size: 4px;
    display: block;
    font-weight: normal;
    opacity: 0;
}
