.farmland-0 {
    background-color: #592b03;
}
.farmland-1 {
    background-color: #916106;
}

.farmland-2 {
    background-color: #599d1c;
}

.farmland-3 {
    background-color: #e5bf04;
}
.coords {
    color: #aaa;
    font-size: 6px;
    display: block;
    font-weight: normal;
}
