img {
  width: 80px;
  animation-name: cruise2;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes cruise2 {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.shop-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.shop-entry {
  width: 200px;
  text-align: center;
}

.entry-title {
  display: block;
}

.entry-icon {
  scale: 3;
  display: block;
  margin: 38px 84px 42px;
}
